.pane {
  width: 400px;
  height: 100%;
}

.media-body p {
  font-size: 16px;
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
}

.more-area {
  text-align: center;
}

.more-btn {
  cursor: pointer;
}
